<div class="body">
  <div class="container">

    <div class="row">

<% visitor = notification.visitor %>
 <% visited = notification.visited %>
<div class="col-md-6.mx-auto">
  <div class="form-inline">
      <p>
      <%= link_to user_path(visitor) do %>
        
      
          <%= visitor.name + 'さんが' %>
      </p>
      <% end %>
  </div>
</div>

<div class="col-md-6">
<% if notification.action == 'favorite' %>
  
    
      <h4>あなたの投稿にいいねしました！</h4>
        <%= link_to 'いいねされた投稿を確認する', notification.post, style: "font-weight: bold;" %>

  <% elsif notification.action == 'comment' %>

      <h4>あなたの投稿にコメントしました！</h4>

      <%= link_to 'コメントされた投稿を確認する', notification.post, style: "font-weight: bold;" %>
  
  <% else %>

    <h3>お知らせはありません</h3>

  

<% end %>
</div>
    </div>
  </div>
</div>