<div class="body">
	<div class="container">
		<p id="notice"></p>
		
		<div class="row">
		<%= flash[:notice] %>
			<div class="col-xs-3">
				<%= render 'users/info', user: @user %>
				<!-- 新規投稿部分（共通テンプレ？） -->
				
			</div>

			<!-- ログインユーザーの投稿一覧 -->
			<div class="col-xs-7">
			 <%= render 'posts/index',posts: @posts %>
			</div>
			
		</div>
		
	</div>
	
</div>
