<div class="body">

<div class="container">

<div class="row">

	<div class="col-md-3">

		<h2>Bekarasとは</h2>
		
	</div>

	<div class="col-md-9">

		<p>

			日々の生活の中で「やらなくてもよかった」「言わなくてもよかった」<br>
			と感じたことを<strong>Bekaras</strong>として記録し、明日に活かすための
			メモ帳のようなアプリケーションです。<br>
		</p>
			
			<p>
				メモ帳がなければ使ってみてください。
			</p>

		
	</div>
	
</div>
</div>
</div>