<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <table class="table">
        <caption>フォローユーザータイムライン</caption>

        <tr>
          <th class="table-active">th.active</th>
        </tr>

        <tr>
          <% @users.each do |user| %>

          <% @posts = Post.where(user_id: user.id) %>

            <% @posts.each do |post| %>

            <td class="table-primary"><%= post.body %></td>

          <% end %>


          <% end %>
        </tr>

      </table>
    </div>
  </div>

</div>