<div class="body">
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <table class="table">
        <caption>フォローしている人々のBekaras</caption>

        <tr>
          <th class="table-active">投稿した人</th>
          <th class="table-active">Bekarasタイトル</th>
        </tr>

        <tr>
          <% @users.each do |user| %>

            <% @posts = Post.where(user_id: user.id).order("created_at DESC").page(params[:page]).per(10) %>

            <% @posts.each do |post| %>

              <td><%= link_to post.user.name + "さん", user_path(user.id) %></td>
            
              <td><%= link_to post.body,post, class: "post_#{post.id}" %></td>

                <% if post.category == 0 %>
                  <td>なんてしない</td>
                <% else %>
                  <td>とか言わない</td>
                <% end %>
            
                <%= paginate @posts, class: "paginate" %>
            <% end %>


          <% end %>
        </tr>

      </table>
    </div>
  </div>

</div>
</div>