<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <table class="table">
        <caption>フォローユーザータイムライン</caption>

        <tr>
          <th class="table-active">th.active</th>
        </tr>

        <tr>
          <% @users.each do |user| %>

          <% @posts = Post.where(user_id: user.id).order("created_at DESC").page(params[:page]).per(10) %>

            <% @posts.each do |post| %>
            
            <td><%= link_to post.body,post, class: "post_#{post.id}" %></td>
            
            <%= paginate @posts, class: "paginate" %>
          <% end %>


          <% end %>
        </tr>

      </table>
    </div>
  </div>

</div>