<% if flash[:notice] %>
      <div class="flash">
        <p class="text"><%= flash[:notice] %></p>
      </div>
 <% end %>

<div class="body">
	<div class="container">
		<p id="notice"></p>

		<div class="row">

		<div class="col-xs-10">
			

			<!-- ログインユーザーの投稿一覧 -->

			<div class="col-md-8 col-md-offset-4">
				<h2>Bekaras detail</h2>

				<table class="table table-hover table-inverse">
					
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th colspan="3"></th>
						</tr>
					</thead>
					<!-- 繰り返さない -->
					
						<tbody>
							<tr class="post_<%= @post.id %>">
								
								
								<%= render 'detail', post: @post %>
							

							</tr>
						</tbody>
					
				</table>
				
				
				
			</div>
		</div>
			
		</div>
		
	</div>
	
</div>